/* ------------------------------------------------------------------------
--------------------------------FONTS--------------------------------------
---------------------------------------------------------------------------/*

/* Poppins is going to be our primary font */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/*Pacifico is a cursive font, use only for fancy stuff */
@import url('https://fonts.googleapis.com/css?family=Pacifico');

/* -----------------------------------------------------------------------
--------------------------GLOBAL STYLING ---------------------------------
-------------------------------------------------------------------------- */

body{background:#fafafa;margin:0px auto;padding:0px;font-family:Poppins;}
p{font-size:1em;}
a,a:hover,a:focus{color:inherit;text-decoration:none;transition:all 0.3s;}
input:focus{outline:none;}
.boxee{width:350px;border-radius:5px;}

/* -----------------------------------------------------------------------
-------------------------- COLORS ----------------------------------------
-------------------------------------------------------------------------- */

/* Background colors */
.yellow{background:#FFEAA7;}
.green{background:#55EFC4;}
.pink{background:#FD79A8;}
.blue{background:#74B9FF;}

/* Text colors */
.text-theme{color:#005792;}
.text-yellow{color:#FFEAA7;}
.text-green{color:#55EFC4;}
.text-pink{color:#FD79A8;}
.text-blue{color:#74B9FF;}
.text-white{color:#ffffff;}
.text-grey{color:#444444;}
.text-lightgrey{color:#818181;}

/* Buttons */
.redbutton{border-radius:5px;transition:0.5s;background:#e74c3c;padding:5px 15px;border:none;}
.redbutton:hover{background:#c0392b;}
.bluebutton{border-radius:5px;transition:0.5s;background:#3498db;padding:5px 15px;border:none;}
.bluebutton:hover{background:#2980b9;}


/* -----------------------------------------------------------------------
-------------------------- CARDS- ----------------------------------------
-------------------------------------------------------------------------- */
.dsb_cardz{border-radius:5px;background:#fff;color:#444;padding:10px;font-size:0.9em;}
.dsb_card{border-radius:5px;background:#fff;box-shadow:0px 1px 6px #b5b5b5;}
.dsb_card20{padding:20px;}
.dsb_card40{padding:40px;}

/* Cards with color */ 
.dsb_yellow_card{background:#FFEAA7;}
.dsb_green_card{background:#55EFC4;}
.dsb_pink_card{background:#FD79A8;}
.dsb_blue_card{background:#74B9FF;}
.dsb_grey_card{background:#bdc3c7;}
.dsb_primary_card{background:#005792;color:#fff;}

/* -----------------------------------------------------------------------
-------------------------- BUTTONS ---------------------------------------
-------------------------------------------------------------------------- */
.dsb_button{border-radius:100px;background:#005792;opacity:0.9;padding:5px 25px;color:white;transition:0.5s;}
.dsb_button:hover{box-shadow:0px 1px 6px #b5b5b5;opacity:1;}

.dsb_button_green{background:#55efc4;}
.dsb_button_pink{background:#fd79a8;}
.dsb_button_yellow{background:#ffeaa7;}
.dsb_button_blue{background:#74b9ff;}


/* -----------------------------------------------------------------------
-----------------------------DASHBOARD------------------------------------
--------------------------------------------------------------------------*/

/* Navbar */
.navi{background:#fff;box-shadow:0px 1px 3px #b5b5b5;color:#005792;padding:10px;}
.logo{width:80px;}
.logotext{font-weight:600;}
.nav_link{font-size:0.9em;padding:20px;font-weight:600;opacity:0.7;}
.nav_link:hover{opacity:1;}
.navlink_active{opacity:1;}
.navlink_active::before{font-family:"Font Awesome 5 Free";font-weight:900;content:"\f111";font-size:0.5em;}
.profile_link{background:#005792;padding:5px 15px;border-radius:100px;color:#fff;height:80px;}
.profile_link:hover{color:#fff;}
.pic_logo{width:28px;border-radius:100px;border:3px solid #fff;margin-left:-12px;}
.profile_text{font-size:0.9em;margin-left:3px;}

/* Your Projects Section */
.bigicon{font-size:6em;opacity:0.3;}
.centerpox{padding-top:40px;padding-bottom:40px;}

/* Recent Tab */
.whitenigga{color:#005792;background:#fff;padding:3px 9px;border-radius:100px;}
.whitenigga:hover{color:#005792;}
.cardz{margin-top:20px;}

/* -------------------------------------------------------------------------------------------
---------------------------------- SETTINGS PAGE ---------------------------------------------
----------------------------------------------------------------------------------------------*/

.nav-link:active{background:#005792 !important;color:#fff;}
.nav-link:focus{background:#005792 !important;color:#fff;}
.pro_settings{width:150px;border-radius:100px;}
.light{height:250px;background:#fafafa;border-radius:5px;padding:40px;border:1px solid #bdc3c7;}
.dark{height:250px;background:#34495e;border-radius:5px;padding:40px;border:1px solid #bdc3c7;}
.purp{background:#005792;border-radius:5px;height:10px;margin-top:15px;}
.purpa{background:#ecf0f1;border-radius:5px;height:10px;margin-top:15px;}

/* -----------------------Temp-------------------------*/

.carousel-control-prev,.carousel-control-next{border-radius: 2px; width: 20px; background-color: pink;}
.marz{margin: 5px;}

.dsb_cardproject{border-radius:5px;box-shadow:0px 1px 6px #b5b5b5; width: 30%;display: inline-block;}
.centerpoxv2{padding-top: 30px; padding-bottom: 30px;}
.sort{margin: 20px 20px; float: right;}

table{margin: 5px;color:#818181;}
table th{border-bottom: 2px solid #ccc;} 
td{font-size: 0.9rem; border-bottom: 2px solid #ddd; padding: 5px;}

.prg_bar{width: 100%; background-color: #818181; border-radius: 5px; height: 1vh;}
.prg{width:50%;background-color: orange; border-radius: 5px;height: 1vh;}

.pro_mem{width:40px;border-radius:50%;border:3px solid #fff;}
